/* 左中右布局， 中间自适应 */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.layout .header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.layout .main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

/* 左侧菜单栏 */
.layout .left {
  width: 200px;
  background-color: #242424;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

/* 右侧内容区 */
.layout .right {
  width: 400px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

/* 中间内容区 */
.layout .center {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
